{% extends "base.html" %}
{% load static %}


{% block title %}
{{title}}
{% endblock title %}

{% block content %}
    <h1>HI there, this is class 1</h1> 

    {{Name}} <br>{{date}} <br> {{year}}
    <hr>
    <h6> {{leap}} </h6>
    <hr>
    <form method="post">
        {% csrf_token %}
        Enter year of your choice <br>
        <input type="text" name="year"> <br> 
        <input type="submit">
    </form>
    <br>
    <hr>
    <img src="{% static 'img/wp2840995-europe-wallpapers.jpg' %}">
    <hr>
    <a href="/page1">Page 1</a>
{% endblock content %}