{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HI there, this is class 1</h1> 

    {{Name}} <br>{{date}} <br> {{year}}
    <hr>
    <h6> {{leap}} </h6>
    <hr>
    <form method="post">
        {% csrf_token %}
        Enter year of your choice <br>
        <input type="text" name="year"> <br> 
        <input type="submit">
    </form>
    <br>
    <hr>
    <img src="{% static 'img/wp2840995-europe-wallpapers.jpg' %}">
    <hr>
    <a href="/page1">Page 1</a>
</body>
</html>