{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
    <h1> FRUITS </h1>

    <form method="post">
        {% csrf_token %}
        Name of the fruit: <input type="text" name="name"><br><br>
        Color of the fruit: <input type="text" name="color"><br><br>
        Taste of the fruit: <input type="text" name="taste"><br><br>
        Price of the fruit: <input type="text" name="price"><br><br>
        Quantity of the fruit: <input type="text" name="quantity"><br><br>
        <br>
        <input type="Submit">
    </form>

    {% comment %} <p> {{fruits}}</p> {% endcomment %}
    <br>
    <ul>
        {% for fruit in fruits %}
            <li>
                {{fruit}}<br>
                {{fruit.name}}<br>
                {{fruit.price}}<br>
                {{fruit.color}}<br>
                {{fruit.taste}}<br>
                {{fruit.quantity}}<br>
            </li>
            <hr>
            {% for k, v in fruit.items %}
                {{k}} --- {{v}} <br>
                {% comment %} {% if k == 'name' and v == 'Mango' %}
                    <h1> I love it </h1>
                {% else %}
                    <h1> This is ok </h1>
                {% endif %} {% endcomment %}
            {% endfor %}
            <hr><hr>
        {% endfor %}
    </ul>

    {% comment %} <!-- {{yf}} --> {% endcomment %}
    <br>
    <hr>
    <a href="/">Home</a>
{% endblock content %}