<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> FRUITS </h1>

    <form method="post">
        {% csrf_token %}
        Name of the fruit: <input type="text" name="name"><br><br>
        Color of the fruit: <input type="text" name="color"><br><br>
        Taste of the fruit: <input type="text" name="taste"><br><br>
        Price of the fruit: <input type="text" name="price"><br><br>
        Quantity of the fruit: <input type="text" name="quantity"><br><br>
        <br>
        <input type="Submit">
    </form>

    {% comment %} <p> {{fruits}}</p> {% endcomment %}
    <br>
    <ul>
        {% for fruit in fruits %}
            <li>
                {% comment %} {{fruit}}<br> {% endcomment %}
                {{fruit.name}}<br>
                {{fruit.price}}<br>
                {{fruit.color}}<br>
                {{fruit.taste}}<br>
                {{fruit.quantity}}<br>
            </li>
            <hr>
        {% endfor %}
    </ul>

    {% comment %} <!-- {{yf}} --> {% endcomment %}
    <br>
    <hr>
    <a href="/">Home</a>
</body>
</html>